html {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carousel-main {
  border: 1px solid black;
  display: block;
  line-height: 22px;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  position: relative;

}

#carousel-title {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0px 28px 18px;
}

/* overflow: hidden; <-- hides the list of items within the carousel, crucial to scrolling feature */
/* transition: left | .40s duration | ease-out timing | 0s no delay when clicked */

#carousel-list {
  display: flex;
}

img,
.item-image {
  height: 225px;
  width: 225px;
  border: 0px;
  vertical-align: middle;
}

.carousel-list-item {
  flex-basis: auto;
  height: 300px;
  margin: 5px;
}

.item-body-name {
  font-size: 15px;
  max-height: 40px;
  overflow: hidden;
}

.item-body-stars {
  margin: 4px 0px;
}

.item-body-price {
  font-weight: bold;
}